/* Style board */
.board {
	display: flex;
	flex-wrap: wrap;
	width: 250px;
}
.board-square {
	height: 30px;
	width: 12.5%;
	background: khaki;
}

[data-available='available'] {
	background: yellow;
}

[data-player='b'] {
	background: black;
}

[data-player='w'] {
	background: white;
}