/* Style board */
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.game {
	align-items: center;
	display: flex;
	flex-direction: column;
}
.game-title {
	text-align: center;
}
.board {
	display: flex;
	flex-wrap: wrap;
	width: 300px;
}
.board-square {
	align-items: center;
	background: #399e42;
	border: 1px solid black;
	display: flex;
	height: 37.5px;
	justify-content: center;
	padding: 0;
	width: 12.5%;
}

.board-square:first-of-type {
	border-top-left-radius: 5px;
}

.board-square:nth-of-type(8) {
	border-top-right-radius: 5px;
}

.board-square:nth-of-type(57) {
	border-bottom-left-radius: 5px;
}

.board-square:nth-of-type(64) {
	border-bottom-right-radius: 5px;
}

[data-available='available'] {
	background: yellow;
}

[data-player='b']::after,
[data-player='w']::after {
	border-radius: 50%;
	content: '';
	display: block;
	height: 28px;
	width: 28px;
}

[data-player='b']::after {
	background: black;
}

[data-player='w']::after {
	background: white;
}

/* Hint slider */
.show-hints .board-square[data-available='true'] {
	background: #c6de4d;
}

.hint-checkbox-label {
	align-items: center;
	cursor: pointer;
	display: flex;
	padding-top: 1rem;
}

.hint-checkbox {
	opacity: 0;
	height: 0;
	width: 0;
	margin: 0;
}

.hint-checkbox-slider {
	background: transparent;
	border: 2px solid #0573bc;
	border-radius: 1rem;
	cursor: pointer;
	display: block;
	height: 24px;
	margin-right: .5rem;
	position: relative;
	width: 52px;
	transition: .1s;
}

.hint-checkbox-slider::before {
	color: #0573bc;
	content: 'off';
	right: 6px;
	opacity: .4;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: .1s;
}

.hint-checkbox-slider::after {
	background: white;
	border: 2px solid #0573bc;
	border-radius: 50%;
	content: '';
	height: 15px;
	margin: 2px 4px;
	position: absolute;
	width: 15px;
	transition: .1s transform;
}

.hint-checkbox:checked + .hint-checkbox-slider {
	background: #0573bc;
}

.hint-checkbox:checked + .hint-checkbox-slider::after {
	border-color: white;
	transform: translateX(25px);
}

.hint-checkbox:checked + .hint-checkbox-slider::before {
	color: white;
	content: 'on';
	left: 6px;
	right: auto;
}

/* Players */
.current-player[data-player='b']::after,
.current-player[data-player='w']::after {
	border: 1px solid black;
}

.current-player {
	margin-left: .5rem;
}

.players-turn {
	align-items: center;
	display: flex;
	margin-top: 0;
}

/* Back button */
.back-btn {
	background: #0573bc;
	border: 0;
	border-radius: .25rem;
	color: white;
	cursor: pointer;
	padding: .5rem .75rem;
	margin-top: 1rem;
}

.back-btn:disabled {
	color: #dcefff;
	cursor: default;
	opacity: .7;
}

/* Results */
.results {
	display: none;
}

.results.show-results {
	display: block;
}
